*,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (max-width: 600px) {
  a {
    font-size: 0.7rem;
  }
}

.cardDiv {
  width: 60%;
  margin: 15% auto;
  border: 2px solid black;
  padding: 15px 30px;
  border-radius: 8px;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: white;
  background-color: blue;
  border: none;
  padding: 6px 8px;
  border-radius: 3px;
  margin: 0px 5px;
}
.linksDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
